

//// @author José Miguel Artacho Gutiérrez


@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables  */
/// @group fuentes Son las dos fuentes que utilizo para los titulos y el texto
$fuente-titulo: 'Kanit';
$fuente-global:'Nunito';
/// @group colores Esto es un grupo de colores que utilizo en mi pagina web
$Blanco: #ffffff;
$color-pricipal: #602870;
$color-secundario: #edd8f1;
$color-secundario-medio-oscuro: #391742;
$color-secundario-oscuro: #7D498C;
$color-terciario:#2C0238;
$color-terciario-claro:#451054;
$color-difuminar:#2c023828;

